.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radious;
    background: $off-gray;
    height: 100px;
    margin: auto;
    min-width: 489px;
    max-width: 700px;
    width: calc( 100% - 24em );

    .input-form {
        width: 340px;
        height: 30px;
        border: 0;
        background: $off-light-blue;
        border-radius: 3px;
        font-size: 17px;
        font-weight: 700;
    }
    .button-form {
        height: 32px;
        border: 0;
        margin-left: 5px;
        border-radius: 5px;
        background: $off-blue;
        font-size: 17px;
    }
}