//Colors
$off-black:#2c2c2e;
$off-gray:rgb(74, 74, 77);
$off-light-blue:#cbcbe7;
$off-orange:#ff8a00;
$off-purple:#9c27b0;
$off-red:#da1b60;
$off-blue:#03a9f4;
$off-green:#29c42e;

//Size
$border-radious:7px;